$primaryColor: #d5ab53;
$secondaryColor: #55182f;
$errorColor: #ff4e4e;
$warningColor: #ffa85d;
$successColor: #89d426;

$color1: #1a2225;
$color2: #838381;
$color3: #737474;
$color4: #4b2004;

$darkBlue: #172b4d;
$lightRed: #ff4e4e;

$gold: #ffa85d;
$grey: #a0adbb;
$lightGrey: #c5c5c5;

$bluish-1: #f1efe2;

$bodyBg: #e8e8e8;
$textColor: #555454;

$whiteBg: #f8f8f8;
$bluishWhite: #f9fdff;

$inputPadding: 1.4rem 2rem;
$inputBorderColor: #b7b7b7;
$inputBg: #f3f3f3;
